body {
  background-color: #f5f5f5;
}

#panel body {
  overflow: hidden;
}

#panel #body {
  overflow-y: auto;
  margin-top: 8vh;
  max-height: 87.5vh;
}

#panel form .panel-body {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

#panel .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #f5f5f5;
}

#front {
  /* Main body section */
  /* small screen */
  /*recent-post-col////////////////////*/
}

#front .badge {
  background-color: #fff;
  color: #333;
}

#front :focus {
  outline: none;
}

#front .side-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #028fcc;
  border-right: 1px solid #e7e7e7;
  z-index: 100;
}

#front .side-menu .navbar {
  border: none;
}

#front .side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

#front .side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}

#front .side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

#front .side-menu .navbar-nav li a {
  color: #fff;
  padding: 15px;
}

#front .side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}

#front .side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

#front .side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}

#front .side-menu #dropdown .indicator {
  float: right;
}

#front .side-menu #dropdown > a {
  color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

#front .side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}

#front .side-menu #dropdown .panel-body .navbar-nav {
  background-color: #028fcc;
  width: 100%;
}

#front .side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}

#front .side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}

#front .side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}

#front .side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}

#front .side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}

#front .side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}

#front .side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}

#front .side-menu .brand-name-wrapper {
  min-height: 50px;
}

#front .side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}

#front .side-menu #search {
  position: relative;
  z-index: 1000;
}

#front .side-menu #search .panel-body {
  padding: 0;
}

#front .side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 0px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}

#front .side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}

#front .side-menu #search .panel-body .navbar-form .input-group {
  width: 100%;
}

#front .side-menu #search .panel-body .navbar-form .input-group input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 93%;
  height: 50px;
}

#front .side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}

#front .side-body {
  margin-left: 310px;
}

@media (max-width: 768px) {
  #front {
    /* Slide in animation */
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
    /* Slide side body*/
    /* Hamburger */
    /* Search */
    /* Dropdown tweek */
  }
  #front .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  #front .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  #front .side-menu-container > .navbar-nav.slide-in {
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  #front .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #028fcc;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  #front .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  #front .body-slide-in {
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  #front .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  #front #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #front #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  #front .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  #front #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}

#front #side-navbar {
  background-color: #028fcc;
}

#front #side-navbar .navbar-header {
  background-color: #028fcc;
}

#front #side-navbar .navbar-header .brand-wrapper {
  background-color: #028fcc;
}

#front #side-navbar .navbar-header .brand-wrapper .navbar-toggle {
  background-color: #028fcc;
}

#front #side-navbar .navbar-header .brand-wrapper .navbar-toggle .icon-bar {
  background-color: #fff;
}

#front #side-navbar .navbar-header .brand-wrapper a {
  background-color: inherit;
  color: #fff;
}

#front #side-navbar .side-menu-container .slide-in {
  background-color: #028fcc;
}

#front #side-navbar .side-menu-container .slide-in li a, #front #side-navbar .side-menu-container .slide-in li a[aria-expanded='false'] {
  color: #fff;
}

#front #side-navbar .side-menu-container .slide-in li a:hover, #front #side-navbar .side-menu-container .slide-in li a:focus, #front #side-navbar .side-menu-container .slide-in li a[aria-expanded='false']:hover, #front #side-navbar .side-menu-container .slide-in li a[aria-expanded='false']:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

#front nav .container {
  padding-left: 0px;
  padding-right: 0px;
}

#front nav #navbar {
  background-color: #028fcc;
}

#front nav #navbar ul {
  background-color: #028fcc;
}

#front nav #navbar ul .open .dropdown-toggle {
  background-color: rgba(0, 0, 0, 0.2);
}

#front nav #navbar ul li ul {
  background-color: #028fcc;
}

#front nav #navbar ul li a {
  color: #fff;
}

#front nav #navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#front nav #navbar .form-control, #front nav #navbar button {
  border-radius: 0px;
}

#front #body {
  background-color: #fff;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}

#front #body #wrap-block {
  margin-bottom: 10px;
}

#front #body #wrap-block #main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 0px;
  height: 50vh;
  border: 5px solid #fff;
}

#front #body #wrap-block #main a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: #333 2px 2px 2px;
  padding: 10px;
  height: 15vh;
}

#front #body #wrap-block #main a:hover {
  text-decoration: none;
}

#front #body #wrap-block #side .wrap {
  background-repeat: no-repeat;
  background-position: center top;
  padding: 0px;
  height: 25vh;
  background-size: cover;
  border: 5px solid #fff;
}

#front #body #wrap-block #side .wrap a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
  height: 10vh;
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: #333 2px 2px 2px;
}

#front #body #wrap-block #side .wrap a:hover {
  text-decoration: none;
}

#front #body .breadcrumb {
  background-color: transparent;
  margin-bottom: 10px;
}

#front #body .lead {
  background-color: #ec1a3a;
  color: #fff;
  padding: 10px;
}

#front #body .section .panel-default {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}

#front #body .section .interes {
  background-color: #5bc0de;
  color: #fff;
  padding: 10px;
}

#front .related .img-body {
  min-height: 25vh;
}

#front .img-body {
  min-height: 45vh;
}

#front .post {
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0 0 1px #CCC;
  min-height: 70vh;
  margin-bottom: 20px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}

#front .post .preview {
  min-height: 15vh;
}

#front .post .content {
  padding: 15px;
}

#front .post .author {
  font-size: 11px;
  color: #737373;
  padding: 25px 30px 20px;
}

#front .post .post-img-content {
  height: 200px;
  overflow: hidden;
  position: relative;
}

#front .post .post-img-content img {
  position: absolute;
}

#front .post .post-title {
  display: table-cell;
  vertical-align: bottom;
  z-index: 2;
  position: relative;
}

#front .post .post-title b {
  background-color: rgba(51, 51, 51, 0.58);
  display: inline-block;
  margin-bottom: 5px;
  color: #FFF;
  padding: 10px 15px;
  margin-top: 5px;
}

#front .social-buttons a {
  margin: 0px 5px;
}

#front .social-buttons a i {
  font-size: 2em;
}

#front .social-buttons .facebook {
  color: #3b5998;
}

#front .social-buttons .twitter {
  color: #1da1f2;
}

#front .social-buttons .pinterest {
  color: #bd081b;
}

#front .social-buttons .gplus {
  color: #d43e34;
}

#front .sidebar-widget {
  background-color: #fff;
}

#front .sidebar-widget .title {
  background-color: #ec1a3a;
  font-size: 14pt;
  color: #fff;
}

#front .sidebar-widget .title:hover {
  text-decoration: none;
}

#front .sidebar-widget .list-group {
  border-radius: 0px;
}

#front .sidebar-widget .list-group a {
  border-radius: 0px;
}

#front .sidebar-widget .list-group a .thumb {
  height: 15vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#front .full {
  width: 100%;
}

#front .gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

#front .footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}

#front .footer p {
  margin: 0;
}

#front .footer img {
  max-width: 100%;
}

#front .footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}

#front .footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

#front .footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}

#front .footer a {
  color: #78828D;
}

#front .supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

#front .newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}

#front .newsletter-box .btn {
  border: medium none;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}

#front .newsletter-box {
  overflow: hidden;
}

#front .bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

#front .social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

#front .social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#front .social li a {
  color: #EDEFF1;
}

#front .social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

#front .social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

#front .footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

#front .footer-bottom p.pull-left {
  padding-top: 6px;
}

#front .payments {
  font-size: 1.5em;
}

@media (max-width: 767px) and (orientation: portrait) {
  #body {
    padding-top: 60px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #front #body {
    padding-top: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  #front #body {
    margin-top: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
  #front #body {
    margin-top: 100px;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  #front #body {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=app.css.map */
