/*recent-post-col////////////////////*/
.sidebar-widget {
    background-color: #fff;
    .title {
        background-color:$secundary_color;  
        font-size: 14pt;
        color:#fff;
        &:hover{
            text-decoration:none;
        }
    }

    .list-group{
        border-radius: 0px;
    
        a{
            border-radius: 0px;
           .thumb{
            height: 15vh;
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center center;
           } 
        }
    }
}