@import "_variables";
@mixin border-shadow(){
		-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	}

$primary_color:#028fcc;
$secundary_color:rgba(0,0,0,.2);

$screen-xs-max:767px;
$screen-sm-min:768px;
$screen-sm-max:991px;
$screen-md-min:992px;
$screen-md-max:1199px;
$screen-lg-min:1200px;


body{
	background-color:#f5f5f5;
}

#panel{
	body{
		overflow:hidden;
	}
	#body{ 
		margin-top:7.5vh;
		overflow-y:auto;
		max-height:83.5vh;
	} 

	.footer {
		position: absolute;
	    bottom: 0;
	    width: 100%;
	    height: 60px;
	    background-color: #f5f5f5;
	} 
}



#front{

	@import "_sidenavbar";

	#side-navbar{
		background-color:$primary_color;
		.navbar-header{
			background-color:$primary_color;
			.brand-wrapper{
				background-color:$primary_color;
				.navbar-toggle{
					background-color:$primary_color;
					.icon-bar{
						background-color:#fff;
					}
				}

				a{
					background-color:inherit;
					color:#fff;

				}
			}
		}
		.side-menu-container{
			.slide-in{
				background-color:$primary_color;
				li{
					a,a[aria-expanded='false']{
						color:#fff;		
						&:hover, &:focus{
						background-color:$secundary_color;
						}
					}
				}
				
			}
		}
	}

nav{
	
.container{
			padding-left:0px;
			padding-right:0px;
		}
	#navbar{
		background-color:$primary_color;
		ul{
			background-color:$primary_color;
			.open{
				.dropdown-toggle{
					background-color:$secundary_color;
				}
			}
			li{
				
				ul{
					background-color:$primary_color;
				}
				a{
					&:hover{
						background-color:$secundary_color;
					}
					color:#fff;		
				}
			}
		}
	}
}

	#body{
		background-color:#fff;
		@include border-shadow();
		#wrap-block{
			margin-bottom: 10px;
		}
		.breadcrumb{
				background-color:transparent;
			}

		.section{
			 	.panel-default{
				@include border-shadow();
		 	}
		 	.interes{
		 		background-color:#5bc0de;
		 		color:#fff;
		 		padding:10px;
		 	}
		 }
	}

	.related{
		.img-body{
			min-height:25vh; 
		}
	}

	.img-body{
		min-height:45vh; 
	}

	@import"_post";
}

@import "_phone";
@import "_tablet";
@import "_desktop";
@import "_tv";
